.about{
    padding:4rem 3rem 3rem 3rem;
    background: #fff;
    height: 300px;
}
.row{
    display: flex;
    justify-content: space-around;
}

.row .column{
    width: 45%;
}

.column .tabs{
    display: flex;
}

.single-tab{
    background: white;
    margin-right: 10px;
    cursor: pointer;
}
.single-tab h2{
    display: block;
    padding: 10px 16px;
    border-radius: 4px;
    color: #3c3c3c;
    font-size: 14px;
    font-weight: 600;
}

.about-img{
    position: relative;
    background-image: url("../../../src/assets/Home/image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 520px;
    width: 80%;
}

.content{
    padding-top:1.5 rem;
    padding-bottom: 1.5 rem;
    display: none;
}

.active-content{
    display: block;
}

.active-tag::before{
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    content:'';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #18dcff transparent transparent ;
}

.active-tab{
    background:rgb(35, 149, 205);
    position: relative;
}

.active-tab h2{
    color:white;
}

.content h2{
    margin-top: 1rem;
    font-size:33px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 1rem;
}

.content p{
    padding-bottom: 1rem;
    font-size: 16px;
    line-height:1.8;
    font-weight: 400;
    color: #999;
}

.content h3{
    font-size: 24px;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 1rem;
}

/*Skills css*/
.skills-row{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.skills-column{
    margin-bottom:30px;
    margin-right:20px;
}

.progress-wrap h3{
    font-size: 14px !important;
    margin-bottom:10px;
    font-weight:700;
    text-transform: uppercase;
}

.progress{
    height: 8px;
    background: rgba(0,0,0,0.5);
    overflow:visible;
}

.progress-bar{
    width: 80%;
    height: 8px;
    background:#18dcff;
    line-height: 1.2;
    position: relative;
    border-radius: 2px;
}

.progress-bar span{
    position: absolute;
    top: -30px;
    right: 0;
    font-size:16px;
    font-weight: 400;
    color:#27bdd7;
}

.Htmlcss{
    width: 80%;
}

.Javascript{
    width: 80%;
}

.Php{
    width: 70%;
}

.Reactjs{
    width: 70%;
}

@media screen and (max-width: 768px) {
    .about{
        padding: 2rem 1rem 3rem 1rem;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    .about-img{
        height: 500px;
    }
    .row .column{
        width: 100%;
    }

    .tabs{
        padding-top: 3rem;
    }
    .skill-row{
        grid-template-columns: 1fr;
    }
}